@tailwind base;
  @tailwind components;
  @tailwind utilities;

  :root {
    --background-color-primary: black;
    --background-color-secondary: rgb(10, 10, 10);
    --background-color-tertiary: rgb(26, 26, 26);
    --border-color: #1E1E1E;
    --black: rgb(0, 0, 0);
    --font-color-heading: #FAFAFA;
    --font-color-subheading: #D6D6D6;
    --font-color-sky: #20a4b6;
    --font-color-blue: #0d48c5;
    --radius-6: 6px;
    --radius-8: 8px;
    --radius-10: 10px;
    --radius-12: 12px;
    --radius-15: 15px;
    --radius-20: 20px;
    --radius-25: 25px;

    --font-family: 'Poppins', sans-serif;
    --title-size-small: 1rem;
    --title-size: 1.5rem;
    --title-size-large: 2.5rem;
    --heading-size: 4rem;
    --weight-bold: 700;
    --weight-light: 400;

    --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.125);
    --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.125);
    --shadow-3: 0 16px 40px hsla(0, 0%, 0%, 0.125);
    --button-background: #042979;
    --button-color-hover: #203d7e;  
  
    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease-in-out;
  }


  body {
    background-color: var(--background-color-primary);
    margin: 0%;
    padding: 0%;
    line-height: 1.5;
    color: var(--white-color);
    letter-spacing: 1.5px;
    word-spacing: 3px;
    font-family: var(--font-family);
    height: 100vh;
    width: 100vw;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--background-color-secondary);
    border-radius: var(--radius-6);
}

::-webkit-scrollbar-track {
    background-color: var(--black-color);
}
